html {
    font: 15pt Arial;
}
body {
    background: url("img/pfull.jpg") no-repeat top center fixed;
    background-position: 90% 40%;
    background-size: cover;
}

div::before {
    content: " Area de Teste PHP ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: rgb(255, 255, 255);
    margin: 200px auto 200px auto;
    padding: 10px;
    width: 550px;
    min-height:400px;
    border: solid #273747 5px; 
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
.botao {
    color: antiquewhite;
    padding: 5px;
    background-color: #273747;
    display: inline;
}